body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    padding: 5em;
    background-color: #f9cdd5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0;
    justify-content: center;
    border-color: #d268e6;
    border-style:dashed;
}

h1 {
    color: #f1209a;
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h2 {
    color: #242121;
    size: 40px;
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


h3 {
    color: #242121;
    size: 40px;
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

form {
    margin-bottom: 2em;
}

label {
    margin-top: 10px;
    display: block;
    margin-bottom: 0.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

input[type="text"] {
    width: 12em;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    margin: 0.5em 0;
}

input[name="task_priority"] {
    margin-left: 0.5em;
}

button {
    padding: 1em 2em;
    background-color: #ffa5f0;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 0.5em;
    border-color: #d268e6;
    border-style:dashed;
    font-size: medium;
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button:hover {
    background-color: #d268e6;
    border-color: #ffa5f0;
    border-style:dashed;
}

.flash-messages {
    background-color: #ffe4e1;
    color: #FF69B4;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 2em;
}

.latest-task {
    margin-bottom: 2em;
}

.all-tasks tr {
    padding: 0;

}

.all-tasks {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 0.5em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    align-items: center;
    align-self: center;
    width: 35% ;
    margin:auto;
}


.task-info {
    font-size: 1em;
    color: #555;
}

.highest-priority-tasks table  {
    width: 35%;
    border-collapse: collapse;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0.5em;
}

.highest-priority-tasks  {
    width: 35%;
    border-collapse: collapse;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0.5em;
}

.highest-priority-tasks th,
.highest-priority-tasks td {
    padding: 0.5em;
    border: 1px solid #ddd;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0.5em;
}

.highest-priority-tasks th {
    background-color: #FF69B4;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0.5em;
}

.highest-priority-tasks td {
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0.5em;
}

.highest-priority-tasks tbody tr:nth-child(even) td {
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0.5em;

}


.image {
    margin-bottom: -40px;
}